.login-body {
	font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: -webkit-linear-gradient(bottom, #6B77A1 0%, #737EA5 3%, #9599B3 15%, #B1B0BF 28%, #C7C1C8 41%, #D6CDCF 57%, #DFD5D3 74%, #E2D7D4 100%);
	background-attachment: fixed;
}

#login-wrapper {
	width: 400px;
	margin: 0 auto;
}

#login-wrapper #login-container {
	margin-top: 20px;
	box-sizing: border-box;
	height: 300px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 2em;
	text-align: center;
	color: #4f575b;
}

#login-wrapper #login-container .title {
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}

#login-wrapper #login-container .remember-me {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#login-wrapper #login-container .ui-chkbox {
	height: 16px;
	vertical-align: middle;
}

#login-wrapper #login-container a {
	color: #4f575b;
	text-decoration: none;
	vertical-align: middle;
	font-size: 16px;
}

#login-wrapper #login-container input {
	font-size: 1em;
	color: #4f575b;
}

#login-wrapper #login-container .ui-g-12, #login-wrapper #login-container .ui-g-6 {
	padding: .8em;
}

#login-wrapper #login-container .ui-button {
	font-size: 16px;
}

#login-wrapper .login-footer {
	color: #ffffff;
	font-size: 14px;
	margin-top: 50px;
	text-align: center;
}