html {
	height: 100%;
}

.main-body {
	font-family: latoregular, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	background-color: rgb(237, 240, 245);
}

.wrapper {
	padding: 0px;
}

/* main header */
.wrapper .topbar {
	transition: left 0.3s;
	position: fixed;
	right: 0px;
	left: 250px;
	height: 50px;
	background-color: rgb(3, 136, 229);
	padding: 0.7em 1.5em 0em;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	z-index: 101;
}

.wrapper .topbar .topbar-title {
	display: inline-block;
	font-size: 20px;
	margin: 5px 0px 0px 15px;
	vertical-align: top;
}

.wrapper .topbar #topbar-icons {
	float: right;
	display: block;
	animation-duration: 0.5s;
}

.wrapper .topbar #topbar-icons a {
	position: relative;
	color: rgb(255, 255, 255);
	margin-left: 20px;
	display: inline-block;
	text-decoration: none;
	transition: color 0.3s;
}

.wrapper .topbar #topbar-icons a:hover {
	color: rgb(119, 199, 255);
}

.wrapper .topbar #topbar-icons a span.topbar-icon {
	font-size: 28px;
}

.wrapper .topbar #topbar-icons a span.topbar-item-text {
	font-size: 20px;
	display: none;
}

.wrapper .topbar #topbar-icons a span.topbar-badge {
	position: absolute;
	font-size: 10px;
	right: -5px;
	top: -5px;
	color: rgb(255, 255, 255);
	padding: 2px 4px;
	background-color: rgb(239, 98, 98);
	border-radius: 50%;
}

.wrapper .topbar #topbar-icons .topbar-search {
	padding: 0px;
	position: relative;
	display: inline-block;
	top: -4px;
}

.wrapper .topbar #topbar-icons .topbar-search input {
	display: inline-block;
	border-width: 0px 0px 2px;
	border-style: none none solid;
	border-top-color: initial;
	border-right-color: initial;
	border-left-color: initial;
	border-image: initial;
	font-size: 14px;
	background: transparent;
	border-bottom-color: rgb(255, 255, 255);
	outline: none 0px;
	color: rgb(255, 255, 255);
	width: 100px;
	padding: 1px 20px 1px 1px;
	margin: 0px;
	border-radius: 2px;
}

.wrapper .topbar #topbar-icons .topbar-search input::-webkit-input-placeholder {
	color: rgb(255, 255, 255);
	opacity: 0.7;
	transition: opacity 0.3s;
}

.wrapper .topbar #topbar-icons .topbar-search .topbar-search-icon {
	font-size: 18px;
	position: absolute;
	top: -1px;
	right: 0px;
}

.wrapper .topbar #topbar-icons .topbar-search:hover input {
	border-bottom-color: rgb(119, 199, 255);
}

.wrapper .topbar #topbar-icons .topbar-search:hover input::-webkit-input-placeholder {
	opacity: 1;
}

.wrapper .topbar #topbar-icons .topbar-search:hover .topbar-search-icon {
	color: rgb(119, 199, 255);
}

.wrapper .topbar #omega-menu-button {
	display: inline-block;
	font-size: 28px;
	float: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: color 0.3s;
}

.wrapper .topbar #omega-menu-button:hover {
	color: rgb(119, 199, 255);
}

.wrapper .topbar #options-menu-button {
	display: none;
	font-size: 28px;
	float: right;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: color 0.3s;
}

.wrapper .topbar #options-menu-button:hover {
	color: rgb(119, 199, 255);
}

.wrapper .sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	z-index: 102;
	transition: margin-left 0.3s;
	background-color: rgb(78, 81, 89);
	background-image: -webkit-linear-gradient(top, rgb(78, 81, 89), rgb(31, 32, 35));
}

/* main menu */
.wrapper .sidebar .logo {
	text-align: center;
	height: 50px;
	box-sizing: border-box;
	padding-top: 0.7em;
}

.wrapper .sidebar .profile {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 20px 0px;
}

.wrapper .sidebar .profile img {
	display: block;
	width: 56px;
	margin: 0px auto;
}

.wrapper .sidebar .profile>a {
	display: inline-block;
	margin-bottom: 10px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: color 0.3s;
}

.wrapper .sidebar .profile>a .username {
	display: inline-block;
	margin-top: 8px;
}

.wrapper .sidebar .profile>a .username::before {
	content: "";
	display: block;
}

.wrapper .sidebar .profile>a i {
	display: inline-block;
	font-size: 16px;
}

.wrapper .sidebar .profile>a:hover {
	color: rgb(35, 153, 229);
}

.wrapper .sidebar .profile>ul {
	margin-bottom: -20px;
	display: none;
	background-color: rgb(46, 48, 53);
	text-align: left;
}

.wrapper .sidebar .profile>ul li a {
	border: 0px none;
}

.wrapper .sidebar .profile>ul li:last-child>a {
	border: 0px none;
}

.wrapper .sidebar .sidebar-scroll-content {
	display: block;
	height: 100%;
	position: relative;
}

.wrapper .sidebar .sidebar-scroll-content .menu-container {
	padding-bottom: 80px;
}

.wrapper .sidebar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.wrapper .sidebar ul li>a {
	position: relative;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 14px;
	padding: 15px;
	display: block;
	box-sizing: border-box;
	border-top: 1px solid rgb(78, 81, 89);
	transition: padding-left 0.3s;
}

.wrapper .sidebar ul li>a span {
	margin-left: 0.3em;
}

.wrapper .sidebar ul li>a .menu-badge {
	position: absolute;
	right: 15px;
	top: 14px;
	color: rgb(255, 255, 255);
	padding: 2px 6px;
	background-color: rgb(0, 123, 229);
	border-radius: 50%;
}

.wrapper .sidebar ul li>a:hover {
	padding-left: 20px;
	color: rgb(35, 153, 229);
}

.wrapper .sidebar ul li.active-menuitem>a {
	border-bottom: 0px none;
	background-color: rgb(46, 48, 53);
	color: rgb(35, 153, 229);
}

.wrapper .sidebar ul li>a {
	width: 96%;
}

.wrapper .sidebar .ui-widget-header{
	width: 96% !important;
}

.wrapper .main {
	transition: margin-left 0.3s;
	margin-left: 250px;
	padding: 50px 16px 16px 0px;
}

/* main footer */ 
.wrapper .footer {
	margin-left: 250px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	padding: 0.7em 1.5em 0em;
}

.wrapper .footer .footer-text {
	vertical-align: middle;
}

h1 {
	font-weight: normal;
	margin: 0px;
	font-size: 24px;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
}
